<script type="text/javascript">
    window.location = "/docs/getting-started/introduction";
</script>
If you are not redirected automatically, follow this <a href='/docs/getting-started/introduction'>link </a>