---
layout: 'base.njk'
---

<!-- *** docs *** -->
<section id="docs" class="d-flex flex-column md-flex-row p-2">    
        <div class="accordion d-flex flex-column">
            <ul class="container">
                <li class="label">Getting Started</li>
                <ul class="content ps-1">
                    {%- for post in collections.gettingstarted -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul>
            <!-- <ul class="container">
                <li class="label">Customize</li>
                <ul class="ps-1">
                    {%- for post in collections.customize | reverse -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul> -->
            <!-- <ul class="container">
                <li class="label">Layout</li>
                <ul class="content ps-1">
                    {%- for post in collections.layout | reverse -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul> -->
            <ul class="container">
                <li class="label">Components</li>
                <ul class="content ps-1">
                    {%- for post in collections.components | reverse -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul>
            <!-- <ul class="container">
                <li class="label">Forms</li>
                <ul class="content ps-1">
                    {%- for post in collections.forms | reverse -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul> -->
            <!-- <ul class="container">
                <li class="label">Helpers</li>
                <ul class="content ps-1">
                    {%- for post in collections.helpers | reverse -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul> -->
            <!-- <ul class="container">
                <li class="label">Utilities</li>
                <ul class="content ps-1">
                    {%- for post in collections.utilities | reverse -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul> -->
            <ul class="container">
                <li class="label">About</li>
                <ul class="content ps-1">
                    {%- for post in collections.about | reverse -%}
                        {% include 'accordion-list.njk' %}
                    {%- endfor -%}
                </ul>
            </ul>
        </div>
        <article class="d-flex">
            {{ content | safe }}
        </article> 
</section>
<!-- *** /docs *** -->