<!-- *** header *** -->
<header class="header">
    <nav class="navbar">
        <a href="https://oatcake.org/" class="nav-logo"><img src="/assets/svg/logo.svg" class="w-100" alt="oatcake logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="https://oatcake.org/docs/" class="nav-link">Docs</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">Tutorials</a>
            </li>
            <li class="nav-item">
                <a href="https://oatcake.org/resources/" class="nav-link">Resources</a>
            </li>
            <li class="nav-item">
                <a href="https://oatcake.org/contact/" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="https://oatcake.org/docs/getting-started/introduction/" class="nav-link button default rounded accent outline">Get Started</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header><!-- /header -->