// ===================
// general
// ===================

@mixin grow {
    transform: scale(1.03);
}

@mixin shrink {
    transform: scale(.97);
}

@mixin white-gradient {
    background: linear-gradient(to right,  #F7F4F3 0%,rgba(255,255,255,0) 100%);
}

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

@mixin transition-fade {
    -webkit-transition: position 10s;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: position 10s;

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
}

@mixin theme($light-theme: true) {
    @if ($light-theme) {
      background-color: lighten($primary-color, 100%);
      color: darken($text-color, 100%);
    }
}

// ===================
// media mixins
// ===================

    // height
    @mixin media-h {
        @media screen and (max-height: 800px) {
            @content;
        }
    }

    // x-small
    @mixin media-xs {
        @media screen and (min-width: map.get($media, "x-small")) {
            @content;
        }
    }

    // small
    @mixin media-sm {
        @media screen and (min-width: map.get($media, "small")) {
            @content;
        }
    }
    @mixin media-max-sm {
        @media screen and (max-width: map.get($media, "small")) {
            @content;
        }
    }

    // medium
    @mixin media-md {
        @media screen and (min-width: map.get($media, "medium")) {
            @content;
        }
    }
    @mixin media-max-md {
        @media screen and (max-width: map.get($media, "medium")) {
            @content;
        }
    }

    // large
    @mixin media-lg {
        @media screen and (min-width: map.get($media, "large")) {
            @content;
        }
    }
    @mixin media-max-lg {
        @media screen and (max-width: map.get($media, "large")) {
            @content;
        }
    }

    // x-large
    @mixin media-xl {
        @media screen and (min-width: map.get($media, "x-large")) {
            @content;
        }
    }
    @mixin media-max-xl {
        @media screen and (max-width: map.get($media, "x-large")) {
            @content;
        }
    }

    // mid breakpoints
    @mixin media-sm-md {
        @media screen and (min-width: 594px) {
            @content;
        }
    }
    @mixin media-max-sm-md {
        @media screen and (max-width: 594px) {
            @content;
        }
    }
    @mixin media-md-lg {
        @media screen and (min-width: 896px) {
            @content;
        }
    }
    @mixin media-lg-xl {
        @media screen and (min-width: 1312px) {
            @content;
        }
    }