<!-- faq -->
<div class="faq accordion">
    <ul class="container active">
        <li class="label">How Can I Get a Website for Free?</li>
        <ul class="content">
            <p>Services like Wordpress or Wix offer free websites for those who sign up for their services. However, those looking for a better quality alternative can use Netlify to host their website code for free.</p>
        </ul>
    </ul>
    <ul class="container">
        <li class="label">How long does it take to develop a 5 page website?</li>
        <ul class="content">
            <p>Developing a website isn't as simple as choosing a theme and uploading content. Websites can take over 40 hours to fully design, develop and test.</p>
        </ul>
    </ul>
</div><!-- /faq -->