<a href="{{project.data.site}}">
    <picture>
        <source srcset="{{project.data.image}}" media="(min-width: 500px)"> 
        <img src="{{project.data.image}}" alt="{{ project.data.imageAlt }}" loading=“lazy” decoding=“async”> 
    </picture>
</a>