---
layout: layouts/base.njk
type: interior
toc: on
---

<section id="article-{{pageTitle}}" class="article">
    <div class="container">
        <article class="content start">   
            <div class="ptrn four"></div>
            {{ content | safe }}
        </article> 
    </div>
</section>