.table-of-contents {
    display: none;
    width: 15%;
    padding: 0 1rem;

    a {
        color: black;
    }

    li {
        list-style: none;
    }

    ol li ol li {
        padding-left: 1rem;
    }

    @include media-md {
        display: block;
    }
}