---
title: Give
pageTitle: give
type: interior
layout: 'layouts/base.njk'
description: 
contactTitle: Apply Now
contactDesc: Tell us why we should choose you!
---


<!-- give -->
<section id="give">
    <div class="container row">
        <div class="content">
            <h2>Free Websites</h2>
            <p>Oatcake offers free websites to qualifying non-profits, charities, and businesses. Apply below!</p>
        </div>
        <div class="img">
            {% include 'svg/devices.svg' %}
        </div>
    </div>
</section><!-- /give -->