---
title: Static Website Architecture
layout: 'base.njk'
---

<!-- landing -->
<section id="landing" class="d-flex flex-column-reverse default text-center animate fadeIn long px-4">
    <div class="text d-flex flex-column default">
        <p class="w-90 py-2">A lightweight front-end component library and architecture designed for efficiently developing static websites.</p>
        <div class="d-flex max-sm-flex-column j-c-spc default">
            <a class="download button default rounded secondary shadow border-secondary border-3" href="/docs/getting-started/download">Download</a>
            <a class="button rounded default secondary outline" href="/docs/getting-started/introduction">Get Started</a>
        </div>
    </div>
    <div class="img d-flex default">
        <img src="/assets/img/logo-large.png" alt="responsive website graphic">
    </div>
</section><!-- /landing -->