---
title: Static Website Development Resources
layout: 'base.njk'
---

<!-- *** resources *** -->
<section id="resources" class="d-flex flex-column default px-2 py-4">
    <h2>Our Resources</h2>
    <div class="card-div grid-2 text-center pt-2">
        <div class="card py-2">
            <div class="img one"></div>
            <div class="content d-flex flex-column default">
                <h4 class="pt-1">Tutorials</h4>
                <p class="py-1">Tutorials to help you make websites for free.</p>
                <a class="button default secondary outline rounded w-40" href="/tutorials">Learn More</a>
            </div>
        </div>
        <div class="card py-2">
            <div class="img two"></div>
            <div class="content d-flex flex-column default">
                <h4 class="pt-1">Templates</h4>
                <p class="py-1">Coming soon...</p>
                <a class="button default secondary outline rounded w-40" href="#">Learn More</a>
            </div>
        </div>
        <div class="card py-2">
            <div class="img three"></div>
            <div class="content d-flex flex-column default">
                <h4 class="pt-1">Free Websites</h4>
                <p class="py-1">Oatcake offers free websites to qualifying Non-Profits&comma; charities&#44; and businesses&period;</p>
                <a class="button default secondary outline rounded w-40" href="/volunteer">Learn More</a>
            </div>
        </div>
    </div>
</section><!-- /services -->