---
title: Resources
pageTitle: resources
type: interior
description: Never worry about your website again with budget friendly full service website plans that offer a custom design with unlimited edits and more. Contact us today!
layout: 'layouts/base.njk'
---

<!-- *** resources *** -->
<section id="resources">
    <h1>Our Resources</h1>
    <div class="card-div grid two">
        <div class="card">
            <div class="ptrn one"><a href="#" style="width: 100%;"></a></div>
            <div class="content">
                <h3>Learn</h4>
                <p>Learn about everything from website hosting and domains to HTML, CSS, and Javascript web development.</p>
                <a class="button default secondary outline rounded" href="/learn">Learn More</a>
            </div>
        </div>
        <div class="card">
            <div class="ptrn two"><a href="#" style="width: 100%;"></a></div>
            <div class="content">
                <h3>Menu Database</h3>
                <p>Contact us to add your restaurant or foodtruck menu to our online database for free.</p>
                <a class="button default secondary outline rounded" href="https://findmenu.org/add">Learn More</a>
            </div>
        </div>
        <div class="card">
            <div class="ptrn four"><a href="#" style="width: 100%;"></a></div>
            <div class="content">
                <h3>Free Websites</h3>
                <p>Oatcake offers free websites to qualifying Non-Profits&comma; charities&#44; and businesses&period;</p>
                <a class="button default secondary outline rounded" href="/give">Learn More</a>
            </div>
        </div>
         <div class="card">
            <div class="ptrn three"><a href="#" style="width: 100%;"></a></div>
            <div class="content">
                <h3>Themes</h3>
                <p>Coming soon...</p>
                <a class="button default secondary outline rounded" href="#">Learn More</a>
            </div>
        </div>
        <div class="card">
            <div class="ptrn two"><a href="#" style="width: 100%;"></a></div>
            <div class="content">
                <h3>Templates</h3>
                <p>Coming soon...</p>
                <a class="button default secondary outline rounded" href="#">Learn More</a>
            </div>
        </div>
    </div>
</section><!-- /services -->